<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe game</title>
    <link rel='stylesheet prefetch' href='https://getbootstrap.com/2.3.2/assets/css/bootstrap.css'>
    <link href="css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">
    <div id="tic-tac-toe">
        <div class="span3 new_span ml-0">
            <div class="row">
                <h1 class="span3">Tic Tac Toe</h1>
                <div class="span3">
                    <div class="w-full flex">
                        <input type="text" class="w-full" v-model="scale">
                        <a href="#" id="setScale" @click="setScale()" class="btn-success btn span3"
                           style="height: 20px !important;width: 20px !important;">Set</a>
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on win_text">O won</span>
                        <strong id="o_win" class="win_times add-on">{{winnerO}}</strong><span
                            class="add-on">time(s)</span>
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on win_text">X won</span>
                        <strong id="x_win" class="win_times add-on">{{winnerX}}</strong><span
                            class="add-on">time(s)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="arrScale && arrScale.length > 0" class="game w-full flex flex-wrap mb-5">
        <div class="input-prepend input-append m-auto">
            <span class="add-on win_text w-full" style="width: 216px; border-radius: 0">Turn {{turn.toUpperCase()}}</span>
        </div>
        <div class="w-full">
			<div class="m-auto flex flex-wrap items-baseline" :style="'width: ' + (valueInput * 70) + 'px'">
				<div class="w-full flex flex-wrap items-baseline" v-for="(item, n1) in arrScale" :key="n1">
					<div class="w-full">
						<div class="flex btn span1 ml-2 py-2 px-0 border-0 mb-4" v-for="(item1, n2) in item" :key="n1 + n2"
							 :style="'min-height: 30px'"
							 @click="setTurn(item1)"
							 v-bind:class="{'btn-primary' : item1.Own === 'O', 'btn-info' : item1.Own === 'X', 'disable' : item1.Own}"
						>
							<div class="m-auto">
								{{(item1.Own ? item1.Own : '+')}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="m-auto" style="width: 220px" v-if="winnerX > 0 || winnerO > 0">
        <div class="span3 new_span ml-0">
            <div class="clr">&nbsp;</div>
            <div class="row"><a href="#" id="reset" class="btn-success btn span3" @click="restatGame()">Restart</a></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script type="module" src="./js/games.js"></script>
<script src='https://code.jquery.com/jquery-1.7.2.min.js'></script>
<script src="js/index.js"></script>
</body>
</html>
