<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe game</title>
    <link rel='stylesheet prefetch' href='https://getbootstrap.com/2.3.2/assets/css/bootstrap.css'>
    <link href="css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>



<div id="app">
    <div id="tic-tac-toe">
        <div class="span3 new_span ml-0">
            <div class="row">
                <h1 class="span3">Tic Tac Toe</h1>
                <div class="span3">
                    <div class="w-full flex">
                        <input type="text" class="w-full" v-model="scale">
                        <a href="#" id="setScale" @click="setScale()" class="btn-success btn span3"
                           style="height: 20px !important;width: 20px !important;">Set</a>
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on win_text">O won</span>
                        <strong id="o_win" class="win_times add-on">{{winnerO}}</strong><span
                            class="add-on">time(s)</span>
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on win_text">X won</span>
                        <strong id="x_win" class="win_times add-on">{{winnerX}}</strong><span
                            class="add-on">time(s)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="arrScale && arrScale.length > 0" class="game w-full flex flex-wrap mb-5">
        <div class="input-prepend input-append m-auto">
            <span class="add-on win_text w-full" style="width: 216px; border-radius: 0">Turn {{turn.toUpperCase()}}</span>
        </div>
        <div class="m-auto flex flex-wrap items-baseline w-full">
            <div class="w-full flex flex-wrap items-baseline" v-for="(item, n1) in arrScale" :key="n1">
                <div class="flex btn span1 ml-2 py-2 px-0 border-0 mb-4" v-for="(item1, n2) in item" :key="n1 + n2"
                     :style="'width: calc(' + sizeItem + '% - 0.5rem);font-size: '+ sizeItem +'px;min-height: 30px'"
                     @click="setTurn(item1)"
                     v-bind:class="{'btn-primary' : item1.Own === 'o', 'btn-info' : item1.Own === 'x', 'disable' : item1.Own}"
                >
                    <div class="m-auto">
                        {{(item1.Own ? item1.Own : '+')}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-auto" style="width: 220px" v-if="winnerX > 0 || winnerO > 0">
        <div class="span3 new_span ml-0">
            <div class="clr">&nbsp;</div>
            <div class="row"><a href="#" id="reset" class="btn-success btn span3" @click="restatGame()">Restart</a></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            scale: 3,
            winnerX: 0,
            winnerO: 0,
            arrScale: [],
            sizeItem: 0,
            turn: 'x',
            fontSize: '40'
        },
        computed: {

        },
        methods: {
            setScale() {
                if (!this.checkEmptySlot()) {
                    if(!confirm('Are you sure want reset all')) {
                        return false
                    }
                }
                this.setScaleWithoutConfirm()
            },
            setScaleWithoutConfirm () {
                if (this.scale < 3) {
                    alert('Minimun value is 3')
                    return false
                }
                this.arrScale = []
                for(var i = 0;i < (this.scale); i++) {
                    this.arrScale[i] = []
                    for(var j = 0;j < (this.scale); j++) {
                        this.arrScale[i][j] = {
                            Own: null
                        }
                    }
                }
                this.sizeItem = this.trim(parseFloat(98/ (this.scale)), 2)
            },
            trim(number, precision){
                var array = number.toString().split(".");
                array.push(array.pop().substring(0, precision));
                return array.join(".");

            },
            setTurn (item) {
                if (item.Own) return false
                item.Own = this.turn
                if (this.turn === 'x') this.turn = 'o'
                else this.turn = 'x'
                var hasWinner = false
                var winner = this.checkWinnerCol()
                if (winner === 'o') {
                    this.winnerO++
                    this.setEmptySlot()
                    hasWinner = true
                } else if (winner === 'x') {
                    this.winnerX++
                    this.setEmptySlot()
                    hasWinner = true
                }
                winner = this.checkWinnerRow()
                if (winner === 'o') {
                    this.winnerO++
                    this.setEmptySlot()
                    hasWinner = true
                } else if (winner === 'x') {
                    this.winnerX++
                    this.setEmptySlot()
                    hasWinner = true
                }
                winner = this.checkWinnerRightDiagonal()
                if (winner === 'o') {
                    this.winnerO++
                    this.setEmptySlot()
                    hasWinner = true
                } else if (winner === 'x') {
                    this.winnerX++
                    this.setEmptySlot()
                    hasWinner = true
                }
                winner = this.checkWinnerLeftDiagonal()
                if (winner === 'o') {
                    this.winnerO++
                    this.setEmptySlot()
                    hasWinner = true
                } else if (winner === 'x') {
                    this.winnerX++
                    this.setEmptySlot()
                    hasWinner = true
                }
                if (this.checkEmptySlot() && !hasWinner) {
                    alert('Draw')
                    this.setEmptySlot()
                }
            },
            checkWinnerCol () {
                var checkX = 0
                var checkO = 0
                for (var i = 0; i < this.arrScale.length; i++) {
                    checkX = 0
                    checkO = 0
                    for (var j = 0;j < this.arrScale[i].length; j++) {
                        if (this.arrScale[i][j].Own === 'x') {
                            checkX++
                        } else if (this.arrScale[i][j].Own === 'o') {
                            checkO++
                        }
                    }
                    if (checkX === parseInt(this.scale)) {
                        alert('X is Winner')
                        return 'x'
                    } else if (checkO === parseInt(this.scale)) {
                        alert('O is Winner')
                        return 'o'
                    }
                }
                return false
            },
            checkWinnerRightDiagonal () {
                var checkX = 0
                var checkO = 0
                for (var i = 0; i < this.arrScale.length; i++) {
                    if(this.arrScale[i][this.scale-1-i].Own === 'x'){
                        checkX++;
                    } else if (this.arrScale[i][this.scale-1-i].Own === 'o') {
                        checkO++;
                    }

                }
                if (checkX === parseInt(this.scale)) {
                    alert('X is Winner')
                    return 'x'
                } else if (checkO === parseInt(this.scale)) {
                    alert('O is Winner')
                    return 'o'
                }
                return false
            },
            checkWinnerLeftDiagonal () {
                var checkX = 0
                var checkO = 0
                for (var i = 0; i < this.arrScale.length; i++) {
                    if(this.arrScale[i][i].Own === 'x'){
                        checkX++;
                    } else if (this.arrScale[i][i].Own === 'o') {
                        checkO++;
                    }

                }
                if (checkX === parseInt(this.scale)) {
                    alert('X is Winner')
                    return 'x'
                } else if (checkO === parseInt(this.scale)) {
                    alert('O is Winner')
                    return 'o'
                }
                return false
            },
            checkWinnerRow () {
                var checkX = 0
                var checkO = 0
                for (var i = 0; i < this.arrScale.length; i++) {
                    checkX = 0
                    checkO = 0
                    for (var j = 0;j < this.arrScale[i].length; j++) {
                        if (this.arrScale[j][i].Own === 'x') {
                            checkX++
                        } else if (this.arrScale[j][i].Own === 'o') {
                            checkO++
                        }
                    }
                    if (checkX === parseInt(this.scale)) {
                        alert('X is Winner')
                        return 'x'
                    } else if (checkO === parseInt(this.scale)) {
                        alert('O is Winner')
                        return 'o'
                    }
                }
                return false
            },
            setEmptySlot () {
                for (var i = 0; i < this.arrScale.length; i++) {
                    for (var j = 0;j < this.arrScale[i].length; j++) {
                        this.arrScale[i][j].Own = null
                    }
                }
            },
            checkEmptySlot () {
                var check = 0
                for (var i = 0; i < this.arrScale.length; i++) {
                    for (var j = 0;j < this.arrScale[i].length; j++) {
                        if (!this.arrScale[i][j].Own) check ++
                    }
                }
                if ((this.arrScale.length * this.arrScale.length) === check) {
                    return true
                } else if (check > 0) {
                    return false
                }
                return true
            },
            restatGame () {
                if (confirm('Are you sure want restart game?')) {
                    this.winnerO = 0
                    this.winnerX = 0
                    this.setScaleWithoutConfirm()
                }
            }
        }
    })

</script>

<script src='https://code.jquery.com/jquery-1.7.2.min.js'></script>


<script src="js/index.js"></script>


</body>

</html>
